<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
    <% include ../partials/nav %>

        <h1 class='text-center mt-5'>Thank you for your purchase!!</h1>
    
    </body>
    <% include ../partials/footer %>
    
</html>

