<!doctype html>
<html lang="en">

<body>
    <div class="row">
        <div class="col">
            <img src="" />
        </div>
        <div class="col">
            <h1>Name: <% Product.name %></h1>
            <h2>Price: <% Product.price %></h2>
        </div>
    </div>
</body>
</html>