<form  class="form-inline my-2 my-lg-0" action='' method='POST'>
        <input id='instant-search' style="width: 100%;" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name='instant-search'>
</form>




